<div class="container">

<div class="blog-header">
  <h1 class="blog-title">The Ruby on Ray's Blog</h1>
  <p class="lead blog-description">This is my very initial attempt at creating a blog using Ruby on Rails.</p>
<span><%= link_to 'New Post', new_article_path %></span>
</div>

<div class="row">

  <div class="col-sm-8 blog-main">

    <div class="blog-post">
  
  <%@articles.each do |article| %>
      <div class="span8">
    <h1><%=link_to article.title, article_path(article)%></h1>
      <small>Posted <%= time_ago_in_words(article.created_at) %> ago</small>
    <p class ="blog-text"><%= truncate(article.text, length: 300) %> <%if article.text.length > 300 %> <%=link_to 'See more', article_path(article) %><%end %></p>
    <div>
     <span class="badge-success"> 
        <%=link_to article_path(article) do %>
        Comments (<%=article.comments.count %>)
        <% end %>
      
        </span>
    </div> 
    </div>
    <hr/>
            <% end %>
<center><%= will_paginate @articles, renderer: BootstrapPagination::Rails %></center>

    </div>

    </div>

    
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <div class="sidebar-module">
            <h4 class ="project_heading">Projects</h4>
            <ol class="list-unstyled">
              <li><a href="#"><%=link_to 'My Recipes', 'https://rehan-myrecipes.herokuapp.com' %> </a></li>
        
            </ol>
          </div>
          </div>
          </div>

  
    </div><!-- /.container -->