
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item inactive" href="#"></a>
        </nav>
      </div>
    </div>

<div class="container">

<div class="blog-header">
  <h1 class="blog-title">The Ruby on Ray's Blog</h1>
  <p class="lead blog-description">This is my very initial attempt at creating a blog using Ruby on Rails.</p>
<span><%= link_to 'New Post', new_article_path %></span>
</div>

<div class="row">

  <div class="col-sm-8 blog-main">

    <div class="blog-post">
      <%@articles.order(:created_at).reverse_each do |article| %>
      <h2 class="blog-post-title"><%=link_to article.title, article_path(article)%></h2>
        <span class ="quiet"><small>Created <%= time_ago_in_words(article.created_at) %> ago </small></span>
      <p><span><%= link_to 'Edit', edit_article_path(article) %></span> 
      <span><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> </span>
      
      </p>
            <p><%= truncate(article.text, length: 150) %> <%if article.text.length > 150 %> <%=link_to 'See more', article_path(article) %><%end %>
      <% end %>
    </div>

    </div>
    
    
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <div class="sidebar-module">
            <h4 class ="project_heading">Projects</h4>
            <ol class="list-unstyled">
              <li><a href="#"><%=link_to 'My Recipes', 'https://rehan-myrecipes.herokuapp.com' %> </a></li>
        
            </ol>
          </div>
          </div>
          </div>

  
    </div><!-- /.container -->