<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93976630-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="container">

<div class="blog-header">
  <h1 class="blog-title">The Ruby on Ray's Blog</h1>
  <p class="lead blog-description">This is my very initial attempt at creating a blog using <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/' %>.</p>


<% if logged_in? && current_user.admin? %> 
  <%= link_to 'New Post', new_article_path, class: "btn btn-xs btn-success" %>
  <% end %>
</div>

<div class="row">

  <div class="col-sm-8 blog-main">

    <div class="blog-post">
  
  <%@articles.each do |article| %>
      <div class="span8">
    <h1><%=link_to article.title, article_path(article)%></h1>
      <small>Posted <%= time_ago_in_words(article.created_at) %> ago</small><br/>
      <small> Posted by: <%= link_to article.user.username, article.user %></small><br/>
    <br/><p class ="blog-text"><%= truncate(article.text, escape: false, length: 1000 ) %>  <%=link_to 'See more', article_path(article) %></p>
    
    <div>
     <span class="badge-success"> 
        <%=link_to article_path(article) do %>
        Comments (<%=article.comments.count %>)
        <% end %>
        </span>
    </div> 
    </div>
    <hr/>
            <% end %>
            
<center><%= will_paginate @artices %></center>

    </div>
  <% if !@articles.present? %>
    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
  <% end %>

  </div>
    
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class=" sidebar-module-inset">
            <h4 class ="project_heading" align="center">My Todos</h4><hr/>
  <ol id="todo-list">
    <%= render 'todo' %>
          </div>
          </div>
   </ol>       
    </div><!-- /.container -->