<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item inactive" href="#"></a>
        </nav>
      </div>
    </div>

<div class="container">

<div class="blog-header">
  <h1 class="blog-title"><%=@article.title%></h1>
  </div>

 <span class ="quiet"><small>Created <%= time_ago_in_words(@article.created_at) %> ago </small></span>
  <div class= "blog-post well"><%=simple_format(@article.text) %></div>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>