<br>
<div class="container">
  <div class="row">
    <div class="col-md-14">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">User profile<hr></div>
          </div>
          <div class="row">
			<div class="col-md-4 text-center">
              <%= image_tag @user.avatar, class: "img-circle avatar avatar-original" %>
              <% end %>
            <%= form_for @user, url: @user, html: { multipart: true } do |form| %>
  <%= form.file_field :avatar %>
  <%= form.submit :submit %>
<% end %>
            </div>
            
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin"><%=@user.username.capitalize%></h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span class="text-muted">Email: <%=@user.email%></span><br>
                  <span class="text-muted">Birth date:</span> <br>
                  <span class="text-muted">Gender:</span> <br><br>
                  <small class="text-muted">Created: <%=time_ago_in_words(@user.created_at)%> ago</small>
                </div>
                <div class="col-md-6">
                  <div class="activity-mini">
                    Reviews: <% if @user.reviews.count == 0 %>
                    <%= link_to 'Write your first review!', tutorials_path %>
                    <% else %>
                    <%= @user.reviews.count %>
                    <% end %>
                  </div>
                  <div class="activity-mini">
                    <i class="glyphicon glyphicon-thumbs-up text-muted"></i> 0
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr><button class="btn btn-default pull-right"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <h4>This page has no content, yet. You can <%= link_to "return to index", articles_path %>.</h4>
  

  <div class ="panel-feed">
  <% @reviews.last(5).reverse_each do |rev| %>
  <%=image_tag rev.tutorial.tutorial_img, class: "book-feed-size" %>
  <div class = "description-feed">
  <%= link_to rev.tutorial.title, tutorial_path(rev.tutorial) %><br/>
  <%= render 'reviews/review-rating', obj: rev %><br/>
  <%= truncate(rev.comment, length: 250) %> <%if rev.comment.length > 250 %> <%=link_to 'See more', tutorial_path(rev.tutorial) %><%end %>
<hr/>
  </div>
<% end %>
</div>


<div class = "profile-container">
  efsesfesflesfoiejoijseofjsoeifjsoiefjosijfosif
  
</div>