  <h1 align="center">Ruby on Rails Course Reviews</h1>
<hr/>

<div class = "row">
  <div class="col-md-3">
  <div class ="tutorial-options">
<%= link_to 'Submit New Course', new_tutorial_path, class: "btn-custom2" %>
</div>
</div>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
<%Category.all.each do |category| %>
      <li class= "<%='active' if params[:category] == category.name %>">
        <%= link_to category.name, tutorials_path(category: category.name) %>
    <% end %>
  </ul>
</div>

<h3 class = "current-category" align="left">Category: <%=params[:category] %></h3><br/>

<% if @tutorials.count == 0 %>
<br/><h3>Currently no books in this category</h3>
<% else %>
  <div class = "row bookstart">
<% @tutorials.each do |tutorial| %>
  <div class = "col-md-3">
    <a href="/tutorials/<%= tutorial.id %>">
    <%= image_tag tutorial.tutorial_img, class: "book" %>
    </a>
  </div>
  <% end %>
<% end %>
  </div>
